.git
.github
node_modules
dist
.vite
bench
docs
.internal
public/local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.env
.env.*
Dockerfile
docker-compose.yml
SELFHOST.md
